/*Сетка GRID*/

.marketplace__grid {
	display: block;
}

.marketplace__grid__body {
	margin: 0 0 20px 0;
	display: grid;
	max-width: 1180px;
	grid-template-rows: [start] auto [row-end];
	grid-template-columns: [start] 4fr [col2] 1fr [col-end];
	grid-gap: 10px;
	grid-template-areas:
			"top tools"
			"content tools";
}

.marketplace__grid__item {
    padding: 10px;
}

.marketplace__page__content__block {grid-area: content; background-color: #303030; border-radius: 10px;}
.marketplace__page__tools__block {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	grid-area: tools;
	background-color: #303030;
	border-radius: 10px;
}

.products__sort {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.products__sort__href.rotate img {
	transform: rotate(180deg);
}

.products__sort__item {
	display: flex;
	gap: 5px;
}

.marketplace__page__top__content__block {grid-area: top; background-color: #303030; border-radius: 10px;}

/**/
/**/

/*Разметка топа товарной сетки*/

.marketplace__top__content__grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search__field__grid {
	display: grid;
	grid-template-rows: [start] auto [row-end];
	grid-template-columns: [start] auto [col2] auto [col-end];
	grid-template-areas:
			'search__field button';
}


.search__field__grid input {grid-area: search__field;}
.search__field__grid.search__button {grid-area: button;}



/*Разметка товарной сетки*/

.marketplace__products__grid {
	display: grid;
	grid-template-rows: [start] auto [row-end];
	grid-template-columns: [start] 50% [col2] 50% [col-end];
	grid-gap: 10px;
	margin: 10px;
	justify-content: space-between;
}

.marketplace__products__grid__item {
	background-color: #404040;
	padding: 10px;
	border-radius: 10px;
}

.marketplace__products__grid__item.user_is_seller {
	border: 1px solid #278828;
}

/*Разметка товара*/
.marketplace__product__grid {
	display: grid;
	grid-template-rows: [start] 20px [row2] 40px [row3] auto [row-end];
	grid-template-columns: [start] 100px [col2] auto [col3] 60px [col-end];
	grid-gap: 10px;
	cursor: pointer;
	grid-template-areas:
			"title title title"
			"seller description price"
			"seller file price";
}

.marketplace__product__item {
	font-size: 13px;
}

.product__seller {
	grid-area: seller;
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	justify-content: left;
	border-right: 2px solid #505050;
}

.product__file {
	grid-area: file;
	display: flex;
	column-gap: 10px;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: horizontal;
}

.product__file__icon img {
	height: 40px;
}

.product__title {
	grid-area: title;
	padding-bottom: 5px;
	border-bottom: 2px solid #505050;
}
.product__description {
	grid-area: description;
	vertical-align: center;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 40px;
	padding-left: 5px;
}
.product__description:after {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, transparent, white 50%);
}

.product__price {
	grid-area: price;
	border-left: 2px solid #505050;
	padding: 5px;
}

.product__price p {
	margin-bottom: 10px;
}