/*Сетка GRID*/

.posts__grid {
	display: block;
}

.posts__grid__body {
	margin: 0 0 20px 0;
	display: grid;
	max-width: 1180px;
	grid-template-rows: [start] auto [row2] auto [row3] auto [row4] 1fr [row-end];
	grid-template-columns: [start] 1fr [col2] 2fr [col3] 1fr [col-end];
	grid-gap: 10px;
	grid-template-areas:
			"avatar tools border1"
			"avatar content border1"
			"navigation content border1"
			"left__nothing content right__nothing";
}

.posts__grid__item {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.posts__tools__block {grid-area: tools; background-color: #303030; border-radius: 10px;}
.posts__page__avatar {grid-area: avatar; background-color: #303030; border-radius: 10px;}
.posts__page__navigation__buttons {grid-area: navigation; background-color: #303030; border-radius: 10px;}
.posts__page__content {grid-area: content;}
.posts__page__border1 {grid-area: border1; background-color: #303030; border-radius: 10px;}
.right__nothing {grid-area: right__nothing; display: none; background-color: #303030; border-radius: 10px;}
.left__nothing {grid-area: left__nothing; display: none; background-color: #303030; border-radius: 10px;}

/**/
/**/

/*Строение TOOL-BAR*/

.posts__tools__grid {
	margin: 0 0 auto;
	display: flex;
	justify-content: space-between;
}

.create__post__link {
	display: inline-block;
	padding: 4px;
	color: white;
	font-size: 16px;
	border: 1px solid #5680E9   ;
	border-radius: 5px;
	background-color: transparent;
	transition: 0.4s ease-in-out;
}

.create__post__link:hover {
	background-color: #5680E9
}

.posts__sort__dropdown {
	display: inline-block;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
}

/**/
/**/

/*Строение навигационных кнопок*/

.posts__page__navigation__grid {
	display: grid;
	grid-template-rows: [start] auto [row2] auto [row3] auto [row-end];
    grid-template-columns: [col-start] 100% [col-end];
    gap: 10px;
}

/**/
/**/

/*Строение профиля*/

.posts__page__profile__grid {
	display: grid;
	grid-template-rows: [start] auto [row2] auto [row3] auto [row-end];
	grid-template-columns: [col-start] 1fr [col-end];
	gap: 10px;
}

/**/
/**/

/*Строение поста*/

.no_posts {
	width: 100%;
	text-align: center;
	color: #707070;
}

.post__card {
	border-radius: 10px;
	background-color: #303030;
	margin: -10px -10px 20px -10px;
	padding: 10px;
}
.post__header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 2px dashed #404040;
}

.post__title {
	display: inline-block;
}

.post__theme {
	display: inline-block;
}

.post__description {
	font-size: 16px;
	margin-bottom: 20px;
}

.post__content {
	margin-bottom: 10px;
}

.post__content img {
	min-height: 350px;
	overflow: hidden;
	border: 3px solid #404040;
	border-radius: 10px;
	margin: auto;
}

.post__creator {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

.post__creator__block {
	display: inline-flex;
	justify-content: left;
	width: 100%;
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.posts__tools__buttons img{
	width: 16px;
}

.post__created__date {
	margin: 10px 0 0 0;
}

/**/
/**/

/*Адаптив*/

@media (max-width: 900px){
	.posts__grid__body {
		grid-template-rows: [start] auto [row2] auto [row3] auto [row4] auto [row5] auto [row-end];
		grid-template-columns: [start] 1fr [col2] 2fr [col-end];
		grid-gap: 10px;
		grid-template-areas:
				"tools content"
				"avatar content"
				"navigation content"
				"left__nothing content "
				"left__nothing right__nothing";
	}

	.right__nothing {
		display: none;
	}
	.left__nothing {
		display: none;
	}
	.posts__page__border1 {
		display: none;
	}
}

@media (max-width: 604px) {
	
}