/*Сетка GRID*/

.reg__grid {
    display: block;
}

.reg__grid__body {
    margin: 0 0 20px 0;
	display: grid;
	max-width: 1180px;
	grid-template-rows: [start] auto [row2] auto [row-end];
	grid-template-columns: [start] 1fr [col2] 2fr [col3] 1fr [col-end];
	grid-gap: 10px;
	grid-template-areas:
			"left__border form__title right__border"
			"left__border form__content right__border";
}

.reg__grid__item {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.reg__grid__title__block {grid-area: form__title; background-color: #303030; border-radius: 10px;}
.reg__grid__form__block {grid-area: form__content; background-color: #303030; border-radius: 10px;}
.reg__grid__left__border {grid-area: left__border; background-color: #303030; border-radius: 10px;}
.reg__grid__right__border {grid-area: right__border; background-color: #303030; border-radius: 10px;}

/**/
/**/

/*Строение заголовка формы*/
.reg__grid__title__block {
	font-size: 25px;
	text-align: center;
}


/**/
/**/

/*Строение формы*/

.reg__form__content__grid {
    display: grid;
	grid-template-rows: [start] auto [row-end];
	grid-template-columns: [start] 3fr [col2] 1fr [col-end];
	grid-gap: 10px;
    grid-template-areas:
            'field_title field_title'
            'field button';
}

.reg__grid__field__title__block {grid-area: field_title;}
.reg__grid__email__block {grid-area: field;}
.reg__grid__button__block {grid-area: button;}

.form__field__title {
	margin-left: 5px;
}