{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="auth__form">
                <div class="auth__card" style="max-width: 1180px;">
                    <div class="col-2-3">
                        <div class="registration__card__body">
                            <h5 class="registration__card__body">Вход</h5>
                            <hr class="registration__title__hr">
                            <form method="post" novalidate enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <div>
                                    {{ form.csrf_token }}
                                </div>

                                <div class="col-item-4">
                                    <label><b>Логин</b><font color="red">*</font></label>
                                    <p>{{ form.email(class="input-field") }}
                                        {% for error in form.errors.email %}
                                            <small class="form-text text-muted ">
                                                <font color="red">{{ ''.join(error) }}</font>
                                            </small>
                                        {% endfor %}
                                    </p>
                                </div>

                                <div class="col-item-4">
                                    <label><b>Пароль</b><font color="red">*</font></label>
                                    {{ form.password(class="input-field") }}
                                    {% for error in form.errors.password %}
                                        <small class="form-text text-muted ">
                                            <font color="red">{{ ''.join(error) }}</font>
                                        </small>
                                    {% endfor %}
                                </div>

                                <div class="col-item-4">
                                    <div class="form-check">
                                    {{ form.remember_me(class="form-check-input") }}
                                    <label class="form-check-label" for="remember_me">Запомнить меня
                                    </label>
                                    </div>
                                </div>

                                <div class="col-item-4">
                                    <div class="form-check">
                                        {{ form.submit(type='submit') }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <img src="../static/img/guitar_art.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
