{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="navigation__str">
                <a href="/" class="navigation__href">Главная</a>
            </div>
            {% if not current_user.is_authenticated %}
                <div class="auth__window" id="auth">
                    <a href="#" class="auth__close">
                        <div class="close__auth__window__button"></div>
                    </a>
                    <form method="post" novalidate enctype="multipart/form-data">
                        <div class="auth__grid">
                            <div class="auth__grid__body">
                                <div class="auth__grid__item auth__grid__title__block">
                                    <div>
                                        {{ form.hidden_tag() }}
                                        {{ form.csrf_token }}
                                    </div>
                                    <div class="auth__grid__form__title">
                                        Вход в аккаунт
                                    </div>
                                </div>
                                <div class="auth__grid__item auth__grid__form__block">
                                    <div class="auth__form__content__grid">
                                        <div class="auth__form__content__grid__item auth__grid__login__block">
                                            <label>Логин<font color="red">*</font></label>
                                            <p>{{ form.email(class="custom__input__field") }}
                                                {% for error in form.errors.email %}
                                                    <small class="form-text text-muted ">
                                                        <font color="red">{{ ''.join(error) }}</font>
                                                    </small>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <div class="auth__form__content__grid__item auth__grid__password__block">
                                            <label>Пароль<font color="red">*</font></label>
                                            {{ form.password(class="custom__input__field") }}
                                            {% for error in form.errors.password %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
                                        <div class="auth__form__content__grid__item auth__grid__rememberme__block">
                                            <div class="custom__checkbox remember_me">
                                                {{ form.remember_me }}
                                                <label class="custom__checkbox__label" for="remember_me">Запомнить меня
                                                </label>
                                            </div>
                                        </div>
                                        <div class="auth__form__content__grid__item auth__grid__error__block">
                                            <div class="error">
                                                {{ error }}
                                            </div>
                                        </div>
                                        <div class="auth__form__content__grid__item auth__grid__button__block">
                                            <button type="submit" class="form__submit">ВОЙТИ</button>
                                        </div>
                                        <div class="auth__not__yet__registered__text">
                                            <a href="/registration" class="inline__link link">Ещё не зарегистрированы?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="index__grid">
                <div class="index__grid__body">
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__avatar">
                        <div class="posts__page__profile__grid">
                            {% if current_user.is_authenticated %}
                                <div class="profile__avatar">
                                    {% if current_user.avatar_path %}
                                        <img src="{{ url_for('static', filename=current_user.avatar_path) }}" alt="oops">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='/img/avatars/no_avatar.png') }}" alt="oops">
                                    {% endif %}
                                </div>
                                <div class="profile__info">
                                    <div class="profile__info__username">{{ user.username }}</div>
                                    <div class="profile__info__username text__subtitle">{{ user.surname }} {{ user.name }}</div>
                                </div>
                            {% else %}
                                <div class="profile__avatar">
                                    <img src="{{ url_for('static', filename='/img/avatars/anonym.png') }}" alt="oops">
                                </div>
                                <div class="profile__info__username">
                                    Unknown user
                                </div>
                                <div class="text__subtitle">
                                    Чтобы открыть для себя весь функционал сайта, пожалуйста,
                                     <a href="#auth" class="inline__link">войдите</a> в систему
                                </div>
                            {% endif %}
                        </div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__navigation__buttons">
                        <div class="posts__page__navigation__grid">
                            <div class="posts__page__navigation__grid__item">
                                <a href="#">
                                    <div class="navigation__grid">
                                        <img src="../static/img/icons/communities.svg" alt="">
                                        <div class="navigation__link__text">Сообщества</div>
                                    </div>
                                </a>
                            </div>
<!--------------------------------------------------------------------------------------------------------------------->
                            <div class="posts__page__navigation__grid__item">
                                <a href="#">
                                    <div class="navigation__grid">
                                        <img src="../static/img/icons/friends.svg" alt="">
                                        <div class="navigation__link__text">Друзья</div>
                                    </div>
                                </a>
                            </div>
<!--------------------------------------------------------------------------------------------------------------------->
                            <div class="posts__page__navigation__grid__item">
                                <a href="#">
                                    <div class="navigation__grid">
                                        <img src="../static/img/icons/speaker.svg" alt="">
                                        <div class="navigation__link__text">Обсуждения</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__content">
                        <a href="/posts" class="link">ПОСТЫ</a>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__border1">
                        Граница 1
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__border2">
                        Граница 2
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
