{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="col-1-4">
                <div class="profile__card">
                    <div class="card__title">ПРОФИЛЬ</div>
                    <div class="profile__info">Какая то инфаСтало известно, кто может стать новым пресс-секретарем губернатора Омской области Александра Буркова. По данным Города55, кандидат на этот пост недавно работал в пресс-службе мэрии Омска.
Предполагается, что новым пресс-секретарем главы региона станет Елизавета Канева. В минувшую пятницу, 18 марта, был ее последний рабочий день в пресс-центре мэрии Омска. Официального подтверждения этой информации, как и данных о назначении нового пресс-секретаря губернатора, пока нет.

Предыдущий пресс-секретарь Александра Буркова Алина Атаманенко уходит со своего поста, сегодня, 21 марта, ее последний рабочий день. Она проработала в этой должности почти два года, с 1 июня 2020 года.Стало известно, кто может стать новым пресс-секретарем губернатора Омской области Александра Буркова. По данным Города55, кандидат на этот пост недавно работал в пресс-службе мэрии Омска.
Предполагается, что новым пресс-секретарем главы региона станет Елизавета Канева. В минувшую пятницу, 18 марта, был ее последний рабочий день в пресс-центре мэрии Омска. Официального подтверждения этой информации, как и данных о назначении нового пресс-секретаря губернатора, пока нет.

Предыдущий пресс-секретарь Александра Буркова Алина Атаманенко уходит со своего поста, сегодня, 21 марта, ее последний рабочий день. Она проработала в этой должности почти два года, с 1 июня 2020 года.Стало известно, кто может стать новым пресс-секретарем губернатора Омской области Александра Буркова. По данным Города55, кандидат на этот пост недавно работал в пресс-службе мэрии Омска.
Предполагается, что новым пресс-секретарем главы региона станет Елизавета Канева. В минувшую пятницу, 18 марта, был ее последний рабочий день в пресс-центре мэрии Омска. Официального подтверждения этой информации, как и данных о назначении нового пресс-секретаря губернатора, пока нет.

Предыдущий пресс-секретарь Александра Буркова Алина Атаманенко уходит со своего поста, сегодня, 21 марта, ее последний рабочий день. Она проработала в этой должности почти два года, с 1 июня 2020 года.</div>
                </div>
            </div>
            <div class="col-1-2">
                <div class="profile__card">
                    <div class="profile__title">ПРОФИЛЬ</div>
                    <div class="profile__info">Какая то инфа</div>
                </div>
            </div>
            <div class="col-1-4">
                <div class="profile__card">
                    <div class="profile__title">ПРОФИЛЬ</div>
                    <div class="profile__info">Какая то инфа</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
