{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="navigation__str">
                <a href="/" class="navigation__href">Главная</a>
            </div>
            <div class="index__grid">
                <div class="index__grid__body">
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__avatar">
                        <div class="index__page__profile__grid">
                            <div class="profile__avatar">
                                {% if current_user.is_authenticated %}
                                        <img src="{{ url_for('static', filename=current_user.avatar_path) }}" alt="oops">
                            </div>
                            <div class="profile__info">
                                <div class="profile__info__username">{{ user.username }}</div>
                                <div class="profile__info__username text__subtitle">{{ user.surname }} {{ user.name }}</div>
                            </div>
                                {% else %}
                                        <p>Вы не вошли в аккаунт</p>
                                {% endif %}
                        </div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__navigation__buttons">
                        <div class="index__page__navigation__grid">
                            <div class="index__page__navigation__grid__item">
                                <div class="navigation__buttons">
                                    <a href="#" class="navigation__link">Сообщества</a>
                                </div>
                            </div>
                            <div class="index__page__navigation__grid__item">
                                <div class="navigation__buttons">
                                    <a href="#" class="navigation__link">Друзья</a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__content">
                        <a href="/posts" class="link">ПОСТЫ</a>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__border1">
                        Граница 1
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__item index__page__border2">
                        Граница 2
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
