{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="navigation__str">
                <a href="/" class="navigation__href">Главная</a>
            </div>
            <div class="marketplace__grid">
                <div class="marketplace__grid__body">
                    <div class="marketplace__grid__item marketplace__page__content__block">
                        <div class="marketplace__products__grid">
                            {% for product in products %}
                                {% if current_user.username == product.creator %}
                                    <div class="marketplace__products__grid__item user_is_seller">
                                {% else %}
                                    <div class="marketplace__products__grid__item">
                                {% endif %}
                                        <a href="/marketplace/product_id_{{ product.id }}">
                                            <div class="marketplace__product__grid">
                                                <div class="marketplace__product__item product__seller">
                                                    <div class="marketplace__product__item creator__avatar">
                                                        <img src="{{ url_for('static', filename=product.creator_avatar_path )}}" alt="">
                                                    </div>
                                                    <div class="marketplace__product__item product__seller__nickname">
                                                        {{ product.creator }}
                                                    </div>
                                                </div>
                                                <div class="marketplace__product__item product__title">
                                                    <b>{{ product.title }}</b>
                                                </div>
                                                <div class="marketplace__product__item product__description">
                                                    {{ product.description }}
                                                </div>
                                                <div class="marketplace__product__item product__description">
                                                    {{ product.description }}
                                                </div>
                                                <div class="marketplace__product__item product__file">
                                                    <div class="product__file__icon">
                                                        {% if product.icon_file %}
                                                            <img src="{{ url_for('static', filename=product.icon_file )}}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="product__filename">
                                                        {{ product.content }}
                                                    </div>
                                                </div>
                                                <div class="marketplace__product__item product__price">
                                                    <p>Цена:</p>
                                                    {{ product.price }}$
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="marketplace__grid__item marketplace__page__tools__block">Здесь будут инструменты</div>
                    <div class="marketplace__grid__item marketplace__page__top__content__block">
                        <div class="marketplace__top__content__grid">
                            <form>
                                <div class="search__field__grid">
                                    <input class="custom__search__field" placeholder="Поиск..." id="search__field">
                                    <button type="submit" class="search__button">
                                        <img src="../static/img/icons/search.svg" alt="Поиск">
                                    </button>
                                </div>
                            </form>
                            <div class="product__create__button">
                                {% if current_user.is_authenticated %}
                                    <a href="/add_product" class="create__post__link">Добавить товар</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}