{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="navigation__str">
                <a href="/" class="navigation__href">Главная</a>
            </div>
            <div class="marketplace__grid">
                <div class="marketplace__grid__body">
                    <div class="marketplace__grid__item marketplace__page__content">
                        <div class="marketplace__products__grid">
                            <div class="marketplace__products__grid__item">
                                <div class="marketplace__product__grid">
                                    <div class="marketplace__product__item product__seller">
                                        <div class="seller__avatar">Аватар продавца</div>
                                        <div class="seller__nickname">Никнейм продавца</div>
                                    </div>
                                    <div class="marketplace__product__item product__title">Название товара</div>
                                    <div class="marketplace__product__item product__description">Краткое описание товара</div>
                                    <div class="marketplace__product__item product__price">19.99$</div>
                                </div>
                            </div>
                            <div class="marketplace__products__grid__item">
                                <div class="marketplace__product__grid">
                                    <div class="marketplace__product__item product__seller">
                                        <div class="seller__avatar">Аватар продавца</div>
                                        <div class="seller__nickname">Никнейм продавца</div>
                                    </div>
                                    <div class="marketplace__product__item product__title">Название товара</div>
                                    <div class="marketplace__product__item product__description">Краткое описание товара</div>
                                    <div class="marketplace__product__item product__price">9.99$</div>
                                </div>
                            </div>
                            <div class="marketplace__products__grid__item">
                                <div class="marketplace__product__grid">
                                    <div class="marketplace__product__item product__seller">
                                        <div class="seller__avatar">Аватар продавца</div>
                                        <div class="seller__nickname">Никнейм продавца</div>
                                    </div>
                                    <div class="marketplace__product__item product__title">Название товара</div>
                                    <div class="marketplace__product__item product__description">Краткое описание товара</div>
                                    <div class="marketplace__product__item product__price">9.99$</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="marketplace__grid__item marketplace__page__tools__block">Здесь будут инструменты</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}