{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
        <div class="navigation__str">
            Контент
        </div>
            <div class="index__grid">
                <div class="index__grid__body">
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__column grid__sidebar">
                        <div class="index__grid__item grid__item_1_1">
                            <div class="profile__avatar">
                                {% if current_user.is_authenticated %}
                                    <img src="{{ url_for('static', filename=current_user.avatar_path) }}" alt="oops">
                                {% else %}
                                    <p>Вы не вошли в аккаунт</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="index__grid__item grid__item_1_2">
                            {% if current_user.is_authenticated %}
                                <a href="/logout" class="logout__link">ВЫЙТИ ИЗ АККАУНТА</a>
                            {% endif %}
                        </div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__column grid__content">
                        <div class="index__grid__item grid__item_2_1">
                            {% if current_user.is_authenticated %}
                                <div class="profile__info">
                                <div class="profile__info__username">{{ user.username }}</div>
                                    <ul>
                                        <li class="profile__info__item"><b>Почта</b> - {{ user.email }}</li>
                                        <li class="profile__info__item"><b>Имя</b> - {{ user.name }}</li>
                                        <li class="profile__info__item"><b>Фамилия</b> - {{ user.surname }}</li>
                                        <li class="profile__info__item"><b>Возраст</b> - {{ user.age }}</li>
                                        <li class="profile__info__item"><b>Пол</b> - {{ user.sex }}</li>
                                        <li class="profile__info__item"><b>Хобби</b> - {{ user.hobby }}</li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="index__grid__item grid__item_2_2">Контент 2</div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    <div class="index__grid__column grid__something">
                        <div class="index__grid__item grid__item_posts">
                            <a href="/posts" class="link">ПОСТЫ</a>
                        </div>
                        <div class="index__grid__item grid__item_profile">
                            <a href="/profile" class="link">ПРОФИЛЬ</a>
                        </div>
                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
