{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="navigation__str">
                Контент
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
            </div>
            <div class="profile__grid">
                <form method="post" class="registration__form__start" novalidate enctype="multipart/form-data">
                    <div class="profile__grid__body">
<!--------------------------------------------------------------------------------------------------------------------->
                        <div class="profile__grid__item profile__grid__avatar">
                            <div class="posts__page__profile__grid">
                                {% if current_user.is_authenticated %}
                                    <div class="profile__avatar">
                                        {% if user.avatar_path %}
                                            <img src="{{ url_for('static', filename=user.avatar_path) }}" alt="oops">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='/img/avatars/anonym.png') }}" alt="oops">
                                        {% endif %}
                                    </div>
                                    {% if user.id == current_user.id %}
                                        {{ form.avatar(class="custom__input__field custom__file__button profile") }}
                                    {% endif %}
                                    <div class="profile__info__username">{{ user.username }}</div>
                                    <div class="profile__info__username text__subtitle">{{ user.surname }} {{ user.name }}</div>
                                    {% for error in form.errors.avatar %}
                                        <small class="form-text text-muted ">
                                            <font color="red">{{ ''.join(error) }}</font>
                                        </small>
                                    {% endfor %}
                                    {% if current_user.is_authenticated %}
                                        {% if user.id == current_user.id %}
                                            <a href="/logout" class="logout__link">ВЫЙТИ ИЗ АККАУНТА</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <div class="profile__avatar">
                                        <img src="{{ url_for('static', filename='/img/avatars/anonym.png') }}" alt="oops">
                                    </div>
                                    <div class="profile__info__username">
                                        Unknown user
                                    </div>
                                    <div class="text__subtitle">
                                        Чтобы открыть для себя весь функционал сайта, пожалуйста,
                                         <a href="/login" class="inline__link">войдите</a> в систему
                                    </div>
                                {% endif %}
                            </div>
                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                        <div class="profile__grid__item profile__grid__content">
                            {% if current_user.is_authenticated %}
                                <div class="profile__info__username">{{ user.username }}</div>
                                    <div class="profile__info__grid">
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__email">
                                            <b>Почта:</b>
                                            <div class="profile__info__item__grid">
                                                <div class="profile__info__field">
                                                {{ form.email(class="profile_info_field custom__input__field unableToEdit") }}
                                                </div>
                                                <div class="profile__edit__button"></div>
                                            </div>
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__name">
                                            <b>Имя:</b>
                                            <div class="profile__info__item__grid">
                                                <div class="profile__info__field">
                                                {{ form.name(class="profile_info_field custom__input__field unableToEdit") }}
                                                </div>
                                                <div class="profile__edit__button">
                                                    {% if user.id == current_user.id %}
                                                        <button type="button" class="form__submit" id="profile__edit">Изменить</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__surname">
                                            <b>Фамилия:</b>
                                            <div class="profile__info__item__grid">
                                                <div class="profile__info__field">
                                                {{ form.surname(class="profile_info_field custom__input__field unableToEdit") }}
                                                </div>
                                                <div class="profile__edit__button">
                                                    {% if user.id == current_user.id %}
                                                        <button type="button" class="form__submit" id="profile__edit">Изменить</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__age">
                                            <b>Возраст:</b>
                                            <div class="profile__info__item__grid">
                                                <div class="profile__info__field">
                                                {{ form.age(class="profile_info_field custom__input__field unableToEdit") }}
                                                </div>
                                                <div class="profile__edit__button">
                                                    {% if user.id == current_user.id %}
                                                        <button type="button" class="form__submit" id="profile__edit">Изменить</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__gender">
                                            <b>Пол:</b>
                                            {% if current_user.id == user.id %}
                                                <div class="profile__info__item__grid">
                                                    <div class="custom__radio__buttons {{ is_active }}">
                                                        <div class="custom__radio__button__item {{ active__man }}">
                                                            <input type="radio" value="Мужской" name="sex" id="men">
                                                            <label for="men">Мужской</label>
                                                        </div>
                                                        <div class="custom__radio__button__item {{ active__woman }}">
                                                            <input type="radio" value="Женский" name="sex" id="women">
                                                            <label for="women">Женский</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="profile_info_field custom__input__field unableToEdit">
                                                    {{ user.sex }}
                                                </div>
                                            {% endif %}
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__hobby">
                                            <b>Хобби:</b>
                                            <div class="profile__info__item__grid">
                                                <div class="profile__info__field">
                                                {{ form.hobby(class="profile_info_field custom__input__field unableToEdit") }}
                                                </div>
                                                <div class="profile__edit__button">
                                                    {% if user.id == current_user.id %}
                                                        <button type="button" class="form__submit" id="profile__edit">Изменить</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__hobby">
                                            <span class="text__subtitle">Дата регистрации: {{ user.created_date }}</span>
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                        <div class="profile__info__item profile__submit">
                                            {% if user.id == current_user.id %}
                                                <a href="#update">
                                                    {{ form.submit_btn(type="submit", class="form__submit") }}
                                                </a>
                                            {% endif %}
                                        </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                    </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                    {% else %}
                                        <div class="profile__info__username">Неизвестный пользователь</div>
                                    {% endif %}
                                </div>
<!--------------------------------------------------------------------------------------------------------------------->
                                <div class="profile__grid__item profile__grid__right__border">
                                    <div class="profile__settings__grid">
                                        <div class="profile__settings__item profile__settings__title">
                                            Настройки
                                        </div>
                                    </div>
                                </div>
<!--------------------------------------------------------------------------------------------------------------------->
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}