{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="profile" style="max-width: 1180px;">
                <div class="col-1-2">
                    <img src="../static/img/avatars/{{ user.email }}.png" class="profile__avatar" alt="oops">
                </div>
                <div class="col-1-2">
                    <div class="card__title">
                        {{ user.username }}
                    </div>
                    <div class="card__body">
                        <ul class="profile__info">
                            <li>{{ user.email }}</li>
                            <li>{{ user.id }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
