{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="navigation__str">
                Контент
            </div>
            <form method="post" class="registration__form__start" novalidate enctype="multipart/form-data">
                <div class="reg__grid">
                    <div class="reg__grid__body">
                        <div class="reg__grid__item reg__grid__title__block">
                            <div>
                                {{ form.hidden_tag() }}
                                {{ form.csrf_token }}
                            </div>
                            <div class="reg__grid__form__title">
                                Регистрация пользователя
                            </div>
                        </div>
                        <div class="reg__grid__item reg__grid__form__block">
                            <div class="reg__form__content__grid">
                                <div class="reg__from__elem reg__email__block">
                                    <div class="reg__field__grid">
                                        <div class="reg_field field__title">
                                            <label class="form__field__title">Почта<font color="red">*</font></label>
                                        </div>

                                        <div class="reg_field field__input">
                                            {{ form.email(class="email custom__input__field registration__field") }}
                                        </div>

                                        <div class="reg_field field__button">
                                            <a href="#stage2">
                                                <button type="button" id="form__continue" class="form__submit disabled" disabled>Продолжить</button>
                                            </a>
                                            <img id="success__img" src="../static/img/icons/ok_64px.png" alt=""
                                                 class="success__img hide">
                                        </div>

                                        <div class="reg_field field__status">
                                            <span id="status">{{ email_error }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="reg__from__elem reg__password__block" id="stage2">
                                    <div class="reg__field__grid">
                                        <div class="reg_field field__title">
                                            <label class="form__field__title">Пароль<font color="red">*</font></label>
                                        </div>

                                        <div class="reg_field field__input">
                                            {{ form.password(class="password custom__input__field registration__field") }}
                                        </div>

                                        <div class="reg_field field__button">
                                            <a href="#stage3">
                                                <button type="button" id="form__continue" class="form__submit disabled" disabled>Продолжить</button>
                                            </a>
                                            <img id="success__img" src="../static/img/icons/ok_64px.png" alt=""
                                                 class="success__img hide">
                                        </div>

                                        <div class="reg_field field__status">
                                            <span id="status"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="reg__from__elem reg__username__block" id="stage3">
                                    <div class="reg__field__grid">
                                        <div class="reg_field field__title">
                                            <label class="form__field__title">Никнейм<font color="red">*</font></label>
                                        </div>

                                        <div class="reg_field field__input">
                                            {{ form.username(class="username custom__input__field registration__field") }}
                                        </div>

                                        <div class="reg_field field__button">
                                            <a href="#stage4">
                                                <button type="submit" id="form__continue" class="form__submit disabled" disabled>Завершить</button>
                                            </a>
                                            <img id="success__img" src="../static/img/icons/ok_64px.png" alt=""
                                                 class="success__img hide">
                                        </div>

                                        <div class="reg_field field__status">
                                            <span id="status"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reg__grid__item reg__grid__left__border"></div>
                        <div class="reg__grid__item reg__grid__right__border"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}