{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">
        <div class="navigation__str">
            Контент
        </div>
            <div class="grid">
                <div class="grid__body">
                    <div class="grid__column">
                        <div class="grid__item">
                            Пусто
                        </div>
                    </div>
                    <div class="grid__column grid__card">
                        <div class="grid__item">
                            <div class="card reg__form">
                                <div class="form__card__body">
                                    <h5 class="card__title">Регистрация</h5>
                                    <form method="post" novalidate enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                        <div>
                                            {{ form.csrf_token }}
                                        </div>
            <!------------------------------------------------------Никнейм-------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Никнейм<font color="red">*</font></label>
                                            <p>{{ form.username(class="custom__input__field") }}
                                                {% for error in form.errors.username %}
                                                    <small class="form-text text-muted ">
                                                        <font color="red">{{ ''.join(error) }}</font>
                                                    </small>
                                                {% endfor %}
                                            </p>
                                        </div>
            <!-------------------------------------------------------Почта--------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Почта<font color="red">*</font></label>
                                            {{ form.email(class="custom__input__field") }}
                                            {% for error in form.errors.email %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                            {% if email_exist %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ email_exist }}</font>
                                                </small>
                                            {% endif %}
                                        </div>
            <!-------------------------------------------------------Пароль-------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Пароль<font color="red">*</font></label>
                                            {{ form.password(class="custom__input__field") }}
                                            {% for error in form.errors.password %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
            <!---------------------------------------------------------Имя--------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Имя<font color="red">*</font></label>
                                            {{ form.name(class="custom__input__field") }}
                                            {% for error in form.errors.name %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
            <!-------------------------------------------------------Фамилия------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Фамилия<font color="red">*</font></label>
                                            {{ form.surname(class="custom__input__field") }}
                                            {% for error in form.errors.surname %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
            <!-------------------------------------------------------Возраст------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Возраст<font color="red">*</font></label>
                                            {{ form.age(class="custom__input__field") }}
                                            {% for error in form.errors.age %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
            <!------------------------------------------------------Пол------------------------------------------------------------>
                                        <div class="col-item-4">
                                            <div class="custom__radio__buttons">
                                                <label>Пол<font color="red">*</font></label>
                                                <div class="custom__radio__button__item">
                                                    <input type="radio" value="Мужской" checked name="sex" id="men">
                                                    <label for="men">Мужской</label>
                                                </div>
                                                <div class="custom__radio__button__item">
                                                    <input type="radio" value="Женский" name="sex" id="women">
                                                    <label for="women">Женский</label>
                                                </div>
                                                <small>
                                                    {{ sex_error }}
                                                </small>
                                            </div>
                                        </div>
            <!------------------------------------------------------Хобби---------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Хобби<font color="red">*</font></label>
                                            {{ form.hobby(class="custom__input__field") }}
                                            {% for error in form.errors.hobby %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
            <!------------------------------------------------------Аватар--------------------------------------------------------->
                                        <div class="col-item-4">
                                            <label>Выберите аватар</label>
                                            {{ form.avatar(class="custom__input__field custom__file__button") }}
                                            {% for error in form.errors.avatar %}
                                                <small class="form-text text-muted ">
                                                    <font color="red">{{ ''.join(error) }}</font>
                                                </small>
                                            {% endfor %}
                                        </div>
            <!------------------------------------------------------Подтверждение-------------------------------------------------->
                                        <div class="col-item-4">
                                            <div class="custom__checkbox">
                                                {{ form.accept(class="custom__checkbox") }}
                                                <label class="custom__checkbox__label" for="accept">
                                                    Согласие на обработку персональных данных<font color="red">*</font>
                                                </label>
                                            </div>
                                        </div>
            <!------------------------------------------------------Кнопка-------------------------------------------------------->
                                        <button type="submit" class="form__submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__column">
                        <div class="grid__item">
                            Пусто
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
